version: '3.8'
include:
  - docker-compose-indexer.yaml

services:
  yaci-cli:
    image: bloxbean/yaci-cli:${YACI_VERSION}
    ports:
      - ${HOST_N2N_PORT}:3001
      - ${HOST_N2C_SOCAT_PORT}:3333
      - ${NODE_SUBMIT_API_PORT}:8090
      - ${HOST_STORE_API_PORT}:8080
      - ${HOST_CLUSTER_API_PORT}:10000
      - ${HOST_OGMIOS_PORT}:1337
      - ${HOST_KUPO_PORT}:1442
    env_file:
      - .env.IntegrationTest
    entrypoint: ["java", "-jar", "/app/yaci-cli.jar", "create-node -o --start" ]
