services:
  # Snapshot creation service
  # Creates a PostgreSQL dump with metadata and checksum files
  #
  # Usage:
  #   docker-compose -f docker-compose-snapshot.yaml --env-file .env.docker-compose-preprod up db-snapshot-create
  #
  # Prerequisites:
  #   - yaci-indexer should be paused before running
  #   - Database should be at desired block height
  #
  # Output:
  #   - snapshot_<network>_<timestamp>-block<N>.dump
  #   - snapshot_<network>_<timestamp>-block<N>.checksum
  #   - snapshot_<network>_<timestamp>-block<N>.metadata.json
  #
  db-snapshot-create:
    image: cardanofoundation/cardano-rosetta-java-postgres:${PG_VERSION_TAG}
    build:
      context: ./
      dockerfile: ./docker/dockerfiles/postgres/Dockerfile
    environment:
      DB_HOST: db
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_SECRET: ${DB_SECRET}
      DB_SCHEMA: ${DB_SCHEMA}
      NETWORK: ${NETWORK}
      SNAPSHOT_DIR: ${SNAPSHOT_DIR:-/snapshots}
      PGPASSWORD: ${DB_SECRET}
    volumes:
      - ./docker/dockerfiles/postgres/create-snapshot.sh:/create-snapshot.sh:ro
      - ${SNAPSHOT_PATH:-/opt/cardano-rosetta-java-snapshots}:/snapshots
    entrypoint: ["/bin/bash", "/create-snapshot.sh"]
    restart: "no"
    depends_on:
      db:
        condition: service_healthy

networks:
  default:
    name: cardano-rosetta-java-${NETWORK}
    external: true
