version: "3.9"
services:
  db:
    image: "${DB_IMAGE_NAME}:${DB_IMAGE_TAG}"
    ports:
      - "${DB_PORT}:${DB_PORT}"
    environment:
      POSTGRES_PASSWORD: "${DB_ADMIN_USER_SECRET}"
      POSTGRES_USER: "${DB_ADMIN_USER_NAME}"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_ADMIN_USER_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: on-failure
  bootstrap-db:
    build: ./database
    environment:
      DBA_USER_SECRET: "${DB_ADMIN_USER_SECRET}"
      DBA_USER_NAME: "${DB_ADMIN_USER_NAME}"
      SERVICE_USER_SECRET: "${SERVICE_USER_SECRET}"
      SERVICE_USER_NAME: "${SERVICE_USER_NAME}"
      DB_HOST: "db"
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
    depends_on:
      db:
        condition: service_healthy
  api:
    build: ./api
    platform: linux/arm64
    ports:
      - "${API_LOCAL_BIND_PORT}:${API_EXPOSED_PORT}"
    environment:
      DB_URL: "jdbc:postgresql://db:${DB_PORT}/${METADATA_DB_NAME}"
      DB_USER: "${SERVICE_USER_NAME}"
      DB_SECRET: "${SERVICE_USER_SECRET}"
      DB_DRIVER_CLASS_NAME: "${DB_DRIVER_CLASS_NAME}"
      DB_CONNECTION_PARAMS_PROVIDER_TYPE: ${DB_CONNECTION_PARAMS_PROVIDER_TYPE} 
    depends_on:
      bootstrap-db:
        condition: service_completed_successfully
    restart: always

networks:
  default:
    name: cardano-rosetta-java