include:
  - docker-compose-indexer.yaml
  - docker-compose-node.yaml
  - docker-compose-api.yaml
  - docker-compose-monitor.yaml
  - docker-compose-index-applier.yaml

networks:
  default:
    name: cardano-rosetta-java-${NETWORK}
