services:
  db-snapshot-create:
    image: cardanofoundation/cardano-rosetta-java-postgres:${PG_VERSION_TAG}
    build:
      context: ./
      dockerfile: ./docker/dockerfiles/postgres/Dockerfile
    environment:
      DB_HOST: db
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_SECRET: ${DB_SECRET}
      DB_SCHEMA: ${DB_SCHEMA}
      NETWORK: ${NETWORK}
      SNAPSHOT_DIR: ${SNAPSHOT_DIR:-/snapshots}
      PGPASSWORD: ${DB_SECRET}
    volumes:
      - ./docker/dockerfiles/postgres/create-snapshot.sh:/create-snapshot.sh:ro
      - ${SNAPSHOT_PATH:-./snapshots}:/snapshots
    entrypoint: ["/bin/bash", "/create-snapshot.sh"]
    restart: "no"
networks:
  default:
    name: cardano-rosetta-java-${NETWORK}
    external: true
