server:
  port: ${API_BIND_PORT:8085}
  compression:
    enabled: true
    mime-types: text/html,text/plain,text/css,application/javascript,application/json
    min-response-size: 1024

spring:
  jackson:
    default-property-inclusion: NON_NULL
    serialization:
      write-dates-as-timestamps: false
  servlet:
    multipart:
      max-file-size: 8MB
      max-request-size: 16MB
  datasource:
    driver-class-name: org.postgresql.Driver
    username: rosetta_db_service_user
    password: weakerpwd#123_d
    url: jdbc:postgresql://172.16.1.217:5432/rosetta?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC&useLegacyDatetimeCode=false&createDatabaseIfNotExist=true&autoReconnect=true&currentSchema=preprod
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          lob:
            non-contextual-creation: true
    hibernate:
      ddl-auto: none
    show-sql: true
  liquibase:
    enabled: false

api:
  exception:
    isPrintStackTrace : {PRINT_EXCEPTION:true}



cardano:
  rosetta:
    version:
      ${ROSETTA_VERSION}
    implementation-version:
      '@project.version@'
    networks:
      [
        {
          id:
            mainnet,
          node-version:
            cardano node 1.30.1,
          indexer:
            {
              type:
                ledgersync,
              endpoint-url:
                http://localhost:8080
            },
          node-bridge:
            {
              type:
                ledgersync,
              endpoint-url:
                http://localhost:8080
            }
        },
        {
          id:
            preprod,
          protocol-magic: 1,
          node-version:
            cardano node 1.30.1,
          indexer:
            {
              type:
                ledgersync,
              endpoint-url:
                http://localhost:8080
            },
          node-bridge:
            {
              type:
                ledgersync,
              endpoint-url:
                http://localhost:8080
            }
        },
        {
          id:
            preview,
          protocol-magic: 2,
          node-version:
            cardano node 1.30.1,
          indexer:
            {
              type:
                ledgersync,
              endpoint-url:
                http://localhost:8080
            },
          node-bridge:
            {
              type:
                ledgersync,
              endpoint-url:
                http://localhost:8080
            }
        }

      ]
    TOPOLOGY_FILEPATH: ${TOPOLOGY_FILEPATH}
    GENESIS_SHELLEY_PATH: ${GENESIS_SHELLEY_PATH}
    EXEMPTION_TYPES_PATH: ${EXEMPTION_TYPES_PATH}
    CARDANO_NODE_HOST: ${CARDANO_NODE_HOST}
    NODE_SUBMIT_API_PORT: ${NODE_SUBMIT_API_PORT}
    API_NODE_SOCKET_PATH: ${API_NODE_SOCKET_PATH}
    # devkit variables
    DEVKIT_ENABLED: ${DEVKIT_ENABLED:false}
    DEVKIT_URL: ${DEVKIT_URL:yaci-cli}
    DEVKIT_PORT: ${HOST_N2C_SOCAT_PORT:3333}
    MEMPOOL_ENABLED: ${MEMPOOL_ENABLED:true}

page-size: ${PAGE_SIZE:5}

cardano-transaction-submitter:
  connection:
    socket:
      path: ${SUBMIT_SOCKET_CONNECTION}

  networkMagic: ${NETWORK_MAGIC:1}

  transaction:
    ttl: ${TRANSACTION_TTL:3000}
