# Using H2 database as a dummy db for offline mode
spring:
  datasource:
    driver-class-name: org.h2.Driver
    username: ${DB_USER:rosetta_db_admin}
    password: ${DB_SECRET:weakpwd#123_d}
    url: jdbc:h2:mem:${DB_NAME:rosetta-java}
  jpa:
    hibernate:
      ddl-auto: create-drop

cardano:
  rosetta:
    db_indexes:
      - idx_address_utxo_amounts_gin
      - idx_address_utxo_owner_addr_tx_hash
      - idx_block_hash_covering
      - idx_invalid_transaction_hash_slot
      - idx_transaction_hash_values_join
      - idx_transaction_slot_desc_tx_index_desc
      - idx_transaction_block
      - idx_transaction_block_hash
      - idx_withdrawal_address
      - idx_withdrawal_tx_hash
      - idx_address_utxo_tx_hash
    OFFLINE_MODE: true
    SYNC_GRACE_SLOTS_COUNT: ${SYNC_GRACE_SLOTS_COUNT:100}
    REMOVE_SPENT_UTXOS: ${REMOVE_SPENT_UTXOS:true}

    YACI_HTTP_BASE_URL: ${YACI_HTTP_BASE_URL:http://localhost:9095}
    HTTP_CONNECT_TIMEOUT_SECONDS: ${HTTP_CONNECT_TIMEOUT_SECONDS:5}
    HTTP_REQUEST_TIMEOUT_SECONDS: ${HTTP_REQUEST_TIMEOUT_SECONDS:5}

    # Token Registry disabled for offline mode
    TOKEN_REGISTRY_ENABLED: false