spring:
  datasource:
    username: ${DB_USER:rosetta_db_admin}
    password: ${DB_SECRET:weakpwd#123_d}
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5433}/${DB_NAME:test}?currentSchema=${DB_SCHEMA:preprod}
    hikari:
#      default connection-timeout is 30 seconds
      connectionTimeout: 100000
#      default pool size is 10
#      connections = ((core_count * 2) + effective_spindle_count)
      maximumPoolSize: 12
#      for developing purposes
      leakDetectionThreshold: 60000
  jpa:
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: none
    show-sql: true
  mvc:
    log-resolved-exception: true
  output:
    ansi:
      enabled: always

cardano:
  rosetta:
    OFFLINE_MODE: false
    YACI_HTTP_BASE_URL: ${YACI_HTTP_BASE_URL:http://localhost:9095/api/v1}
    HTTP_CONNECT_TIMEOUT_SECONDS: ${HTTP_CONNECT_TIMEOUT_SECONDS:5}
    HTTP_REQUEST_TIMEOUT_SECONDS: ${HTTP_REQUEST_TIMEOUT_SECONDS:5}
