server:
  port: ${API_PORT:8082}

spring:
  datasource:
    username: ${DB_USER_TEST:postgres}
    password: ${DB_SECRET_TEST:123456}
    url: jdbc:postgresql://${DB_HOST_TEST:localhost}:${DB_PORT_TEST:5437}/${DB_NAME_TEST:test}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    hibernate:
      ddl-auto: none
    show-sql: true

logging:
  level:
    root: INFO
    org:
      springframework:
        web:
          filter:
            CommonsRequestLoggingFilter: DEBUG

cardano:
  rosetta:
    # Token Registry disabled for test environment
    TOKEN_REGISTRY_ENABLED: false
