server:
  port: ${API_PORT:8082}

spring:
  datasource:
    driver-class-name: org.h2.Driver
    username: ${DB_USER:rosetta_db_admin}
    password: ${DB_SECRET:weakpwd#123_d}
    url: jdbc:h2:tcp://localhost:9090/mem:${DB_NAME:rosetta-java}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    hibernate:
      ddl-auto: none
    show-sql: true
  output:
    ansi:
      enabled: detect
  jooq:
    sql-dialect: H2
    settings:
      render-schema: false
      render-catalog: false

logging:
  level:
    root: INFO
    org:
      springframework:
        transaction: DEBUG
        orm:
          jpa: DEBUG
        web:
          filter:
            CommonsRequestLoggingFilter: DEBUG
  path: ${LOG_FILE_PATH:logs}
  file:
    name: ${LOG_FILE_NAME:logs/rosetta-api.log}
    max-size: ${LOG_FILE_MAX_SIZE:10MB}
    max-history: ${LOG_FILE_MAX_HISTORY:10}

cardano:
  rosetta:
    db_indexes:
      - idx_address_utxo_amounts_gin
      - idx_address_utxo_owner_addr_tx_hash
      - idx_block_hash_covering
      - idx_invalid_transaction_hash_slot
      - idx_transaction_hash_values_join
      - idx_transaction_slot_desc_tx_index_desc
      - idx_transaction_block
      - idx_transaction_block_hash
      - idx_withdrawal_address
      - idx_withdrawal_tx_hash
      - idx_address_utxo_tx_hash
    # Token Registry disabled for H2 test environment
    TOKEN_REGISTRY_ENABLED: false
