server:
  port: ${API_PORT:8081}
  compression:
    enabled: true
    mime-types: text/html,text/plain,text/css,application/javascript,application/json
    min-response-size: 1024

spring:
  jackson:
    default-property-inclusion: NON_NULL
    serialization:
      write-dates-as-timestamps: false
  servlet:
    multipart:
      max-file-size: 8MB
      max-request-size: 16MB
  datasource:
    driver-class-name: org.h2.Driver
    username: ${DB_ADMIN_USER_NAME:rosetta_db_admin}
    password: ${DB_ADMIN_USER_SECRET:weakpwd#123_d}
    url: jdbc:h2:tcp://localhost:9090/mem:${DB_NAME:rosetta-java-preprod}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
        jdbc:
          lob:
            non-contextual-creation: true
    hibernate:
      ddl-auto: none
    show-sql: true
  mvc:
    log-resolved-exception: true
  output:
    ansi:
      enabled: detect

api:
  exception:
    isPrintStackTrace : {PRINT_EXCEPTION:true}

cardano:
  rosetta:
    version:
      ${ROSETTA_VERSION}
    TOPOLOGY_FILEPATH: ${TOPOLOGY_FILEPATH}
    GENESIS_SHELLEY_PATH: ${GENESIS_SHELLEY_PATH}
    CARDANO_NODE_VERSION: ${CARDANO_NODE_VERSION}
    CARDANO_NODE_SUBMIT_HOST: ${CARDANO_NODE_SUBMIT_HOST}
    NODE_SUBMIT_API_PORT: ${NODE_SUBMIT_API_PORT}
    CARDANO_NODE_SOCKET: ${CARDANO_NODE_SOCKET}
    # devkit variables
    DEVKIT_ENABLED: ${DEVKIT_ENABLED:false}
    DEVKIT_URL: ${DEVKIT_URL:yaci-cli}
    DEVKIT_PORT: ${HOST_N2C_SOCAT_PORT:3333}

logging:
  level:
    root: INFO
    org:
      springframework:
        transaction: DEBUG
        orm:
          jpa: DEBUG
        web:
          filter:
            CommonsRequestLoggingFilter: DEBUG
  path: ${LOG_FILE_PATH:logs}
  file:
    name: ${LOG_FILE_NAME:logs/rosetta-api.log}
    max-size: ${LOG_FILE_MAX_SIZE:10MB}
    max-history: ${LOG_FILE_MAX_HISTORY:10}
