server:
  port: ${API_PORT:8082}

spring:
  datasource:
    username: ${DB_USER_TEST:postgres}
    password: ${DB_SECRET_TEST:123456}
    url: jdbc:postgresql://${DB_HOST_TEST:localhost}:${DB_PORT_TEST:5437}/${DB_NAME_TEST:test}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    hibernate:
      ddl-auto: none
    show-sql: true

logging:
  level:
    root: INFO
    org:
      springframework:
        web:
          filter:
            CommonsRequestLoggingFilter: DEBUG

cardano:
  rosetta:
    db_indexes:
      - idx_address_utxo_amounts_gin
      - idx_address_utxo_owner_addr_tx_hash
      - idx_block_hash_covering
      - idx_invalid_transaction_hash_slot
      - idx_transaction_hash_values_join
      - idx_transaction_slot_desc_tx_index_desc
      - idx_transaction_block
      - idx_transaction_block_hash
      - idx_withdrawal_address
      - idx_withdrawal_tx_hash
      - idx_address_utxo_tx_hash
    # Token Registry disabled for test environment
    TOKEN_REGISTRY_ENABLED: false
