apiVersion: v1
kind: Service
metadata:
  name: {{ printf "%s-yaci-indexer" .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "yaci-indexer.commonLabels" . | nindent 4 }}
    component: yaci-indexer
spec:
  type: ClusterIP
  selector:
    {{- include "yaci-indexer.selectorLabels" . | nindent 4 }}
  ports:
    - name: http
      port: 9095
      targetPort: 9095
      protocol: TCP
